*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 37rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container{
    height: 32rem;
    width: 25rem;
    top: 50%;
    left: 50%;
    background-color: #70b2d9;
    background-image: linear-gradient(315deg, #70b2d9 0%, #39e5b6 74%);
}
.weather-header{
   display: flex;
  justify-content: space-around;
  margin:3rem 4rem;
  
}
.weather-input{
    height: 2.5rem;
    width: 17rem;
    border-style: none;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    border-color: #fff;
    border: none;
}
.weather-button{
    height: 2.5rem;
    width: 3rem; 
    border: none;
    border-radius: 0.5rem;
}
.weather-img{
    margin-left: 9rem;
    height: 7rem;
    width: 7rem;
}
.weather-informations{
    margin-top: 1rem;
    height: 10rem;

}
.weather-informations{
display: flex;
align-items: center;
justify-content: center;
}
.weather-details .name{
    color: white;
    margin-top: 0.5rem;
    margin-left: 8rem;
}

.temperature{
    color: white;
    margin-top: 0.5rem;
    margin-left: 10rem;  
}
.wind{
  
}
.wind img{
    height: 3rem;
    margin-left: 2rem;
    margin-top: 1rem;
}
.wind p{
    margin-left: 1rem;
    flex-direction: column;
    font-size: 1.7rem;
    color: white;
    font-weight: 40rem;
}
.wind .humidity{
    margin-left: 2rem;
    flex-direction: column;
    font-size: 1.7rem;
    color: white;
    font-weight: 40rem;
}